<!DOCTYPE html>
<html>

    <head>
        <title>Menu del primer Taller</title>
        <link rel="stylesheet" href="/css/menu.css">
    </head>

    <body id = "dummybodyid" style="font-family: 'Helvetica';">
        <h1 class="center">Menú</h1>
      <!--Descripcion del proyecto-->  
      <p class="justify"> El presente trabajo es para presentar los temas vistos como html, css, js, thymeleaf, etc... en el primer taller del curso, asi que puedes darle click a alguna de las opciones del menu</p>

    <!--Pequeño menu-->
    <header>
        <nav>
            <ul>
            <li><a href="/form/presentacion">Pagina principal</a></li>
            <li><a href="/form/formulario">Formulario para contactarnos</a></li>
            <li><a href="/form/gracias">Gracias</a></l>
         </ul>
        </nav>
    </header>
    </body>
</html>