<!DOCTYPE html>
<html>

    <head>
        <title>Pagina De Presentacion</title>
        <link rel="stylesheet" href="/css/pagina1.css">
    </head>

    <body id = "dummybodyid" style="font-family: 'Helvetica';">
        <!--PAGINA PRINCIPAL-->

        <h1 class="titulo-centrado"> Taller 1 Web</h1>
        <h2> Presentación del grupo </h2>
        <h3> Nombre del grupo: NaN </h3>

        <p>Lista de integrantes:</p>

        <dl>
            <dt>Kevin Jaimes Carrillo</dt>
            <dd>- Rol: </dd>
            <dd>- Lenguajes de Programacion: </dd>
            <dd>- Perfil tecnico: </dd>
            <dt>Luisa Vargas</dt>
            <dd>- Rol: </dd>
            <dd>- Lenguajes de Programacion: </dd>
            <dd>- Perfil tecnico: </dd>
            <dt>Alanis Forero</dt>
            <dd>- Rol: </dd>
            <dd>- Lenguajes de Programacion: </dd>
            <dd>- Perfil tecnico: </dd>
        </dl>

        <a href="/form/menu" class="button button1">Atrás</a>

    </body>
</html>